<section class="firebase-guide">
  <header class="header">
    <h1>Guia Completo: Firebase Authentication</h1>
    <p>Authenticação no Firebase</p>
  </header>

  <article>
    <h2>Configuração passo a passo</h2>

    <section>
      <h3>1. Aceder á consola do projeto hosted em firebase</h3>
      <p>Entrar no site do firebase e entrar na conta onde o projeto está registado. <br>
        Após isto deve clicar na aba de Authentication (Ou em "Todos os Serviços" caso não apareça). <br>
        Asseguir clicar em "Vamos Começar" para iniciar o processo.
      </p>
      <img src="./../../../../assets/img/misc/Screenshot_1.jpg" alt="">
    </section>

    <section>
      <h3>2. Escolher o Provider</h3>
      <p>Selecionar o Google como provider</p>
      <img src="./../../../../assets/img/misc/Screenshot_2.jpg" alt="">
    </section>

    <section>
      <h3>3. Configurar o gmail ligado á autenticação</h3>
      <p>Ativar o provider no botão</p>
      <img src="./../../../../assets/img/misc/Screenshot_3.jpg" alt="">
      <p>E depois clicar na drop-down box e selecionar o email mostrado. Caso exista vários, escolha um. <br>
        Também deve dar um nome relacionado ao projeto para ficar mais organizado
      </p>
      <img src="./../../../../assets/img/misc/Screenshot_4.jpg" alt="">
    </section>

    <section>
      <h3>4. Finalizado</h3>
      <p>Com isto, o seguinte menu deve aparecer, a mostrar que a Autenticação com o Google está ativada</p>
      <img src="./../../../../assets/img/misc/Screenshot_5.jpg" alt="">
    </section>
  </article>
</section>
