<header class="header">
  <div class="local-header">
    <div class="local-header-content">
      <h1>Welcome to the Angular Trainer</h1>
      <p>Be ready to be more than just a student</p>
    </div>

    <nav class="nav-content">
      <div class="nav-item">
        <a routerLink="/hit" class="logo-link">Home</a>
      </div>

      <div class="nav-item has-dropdown">
        <a routerLink="/hit/project" class="logo-link">Class Project</a>
        <div class="dropdown">
          <a routerLink="/hit/project/extra1" class="dropdown-link">Extra 1</a>
          <a routerLink="/hit/project/extra2" class="dropdown-link">Extra 2</a>
        </div>
      </div>

      <div class="nav-item has-dropdown">
        <a routerLink="/hit/levelone" class="logo-link">Nívelamento 01</a>
        <div class="dropdown">
          <a routerLink="/hit/levelone/module1" class="dropdown-link">Módulo 1</a>
          <a routerLink="/hit/levelone/module2" class="dropdown-link">Módulo 2</a>
        </div>
      </div>
    </nav>
  </div>
</header>
