<div class="container">
    <h1>Exemplos de Assíncronos Level 04</h1>
    <section class="topic">
        <h2>Promises</h2>
        <!-- Promise -->
         <app-promises></app-promises>
     </section>
    <section class="topic">
        <h2>Observables.Subscribe( => {{'{'}}next, error, complete{{'}'}})</h2>
        <!-- OBservable -->
         <app-observables></app-observables>
    </section>
    <section class="topic">
        <h2>Observables com Pipe Async</h2>
        <!-- Pipe Async -->
         <app-observable02></app-observable02>
    </section>
    <section class="topic">
        <h2>Signal()</h2>
        <!-- Signal -->
         <app-signal></app-signal>
    </section>
</div>